.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 28px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  border-color: #2c666e;
  box-shadow: 0 0 5px rgba(44, 102, 110, 0.5);
}

.error-message,
.success-message {
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.error-message {
  background-color: #e74c3c;
  color: white;
}

.success-message {
  background-color: #2ecc71;
  color: white;
}

.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #2c666e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-button:hover {
  background-color: #1e4a4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #fff;
  color: #2c666e;
  border: 1.8px solid #e0e3ee;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    border-color 0.3s ease-in-out;
}

.register-button:hover {
  border: 2px solid #07393c;
}

.backLobby {
  cursor: pointer;
  background-color: #fff;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    max-width: 100%;
  }

  h2 {
    font-size: 24px;
  }

  .form-group input {
    padding: 10px;
    font-size: 14px;
  }

  .submit-button,
  .register-button {
    padding: 10px;
    font-size: 16px;
  }
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding: 12px;
  padding-right: 45px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle-password {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
  display: flex;
  align-items: center;
}

.toggle-password:hover {
  color: #2c666e;
}

.form-group {
  width: 100%;
  position: relative;
}
