.page-container {
  display: grid;
  gap: 2em;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.product-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.product-image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.product-image:hover {
  transform: scale(1.03);
}

.productPrice {
  margin-bottom: 3px;
  color: #333;
}

.imageButton {
  border: none;
  background-color: transparent;
}

.brand-title-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.brand-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

